configs/.config/BraveSoftware
configs/.config/font-manager
configs/.config/gh
configs/.config/libreoffice
configs/.config/keepassxc
configs/.config/nordvpn
configs/.config/vlc
configs/.config/VirtualBox
configs/.config/wireshark
